---
layout: archive
title: "Research Topics"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
	{% if post.domain == 'tata' %}
		{% include archive-single-portfolio.html %}
	(% endif %)
{% endfor %}

{% for post in site.portfolio reversed %}
	{% if post.domain == 'music' %}
		{% include archive-single-portfolio.html %}
	(% endif %)
{% endfor %}


<!-- 
	<div class="row">
		<div class="illustration" style="float: left; width: 33%; display: inline-block">
			<img src="/images/500x300.png" alt="Mountains">
		</div>
		<div class="content" style="padding: 10px; display: inline-block">
			<h3>My Work</h3>
			<p>Lorem ipsum..</p>
		</div>
	</div>
	-->