---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2 class="archive__item-title" itemprop="headline">Supervision of PhD</h2>
I have been supervising the following PhD students:
<dl>
	{% for student in site.data.students-phd %}
	<dt><strong>{{ student.name }}</strong> ({{ student.school}}) &bull; {{ student.duration}}</dt>
	<dd> <!-- PhD title -->
		{% if student.url %}
			<a href="{{ student.url }}">{{ student.title }}.</a>
		{% else %}
			{{ student.title }}.
		{% endif %}
	</dd>
	{% if student.codir %}<dd>co-supervised with {{ student.codir }}</dd>{% endif %}
	{% if student.alumni %}<dd>{{ student.alumni }}</dd>{% endif %}
	{% endfor %}
</dl>

<h2 class="archive__item-title" itemprop="headline">Intership Supervision</h2>
<p>I have been supervising the following Bachelor and Master interships:</p>
<dl>
	{% for student in site.data.students %}
	<dt><strong>{{ student.name }}</strong> ({{ student.degree}}, {{ student.school}}) &bull; {{ student.duration}}</dt>
	<dd> <!-- PhD title -->
		{% if student.url %}
		<a href="{{ student.url }}">{{ student.title }}.</a>
		{% else %}
		{{ student.title }}.
		{% endif %}
	</dd>
	{% if student.codir %}<dd>co-supervised with {{ student.codir }}</dd>{% endif %}
	{% if student.alumni %}<dd>{{ student.alumni }}</dd>{% endif %}
	{% endfor %}
</dl>

<h2 class="archive__item-title" itemprop="headline">Lectures</h2>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
